
#display{
    border: 1px solid black;
    text-align: center;
    padding: 30px;
    background-color: #42344B;
    color: white;
    font-weight: 400;


   
}

#edit{
    border: 1px solid black;
    text-align: left;
    padding: 30px;
    background-color: #42344B;
    color: white;
    font-weight: 400;
    
    
}

#right{
    text-align: center;

}

#a{
    margin: 10px;
}



input,textarea{
    background-color: #1E1D1D;
}
    

#save{
    margin: 20px;
    background-color: #ac4ee5;
    color: white;
    font-weight: 400;
    
}

#delete{
    background-color: #ac4ee5;
    color: white;
    font-weight: 400;
}

